body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#authorForm{
  margin: 0 auto;
  margin-top:30px;
  display:flex;
  flex-direction: column;
  width: fit-content;
  justify-content: space-between;
  height:200px;
}

.author-form{
  outline: 2px solid #1976d2;
  width: fit-content;
  padding: 40px;
  margin: 20px auto;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px lightgray;
}

#progress {
  margin-top:100px;
}

.all-authors{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 400px;
  padding: 40px;
  outline: 2px solid #1976d2;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px lightgray;
}

#submit-or-delete{
  align-self: center;
}